.btn:focus {
  box-shadow: none;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-round {
  border-radius: 50%;
}

.btn-no-border {
  border-color: transparent;
}

.btn-opaque-hover {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  svg {
    margin: 2px;
  }
}
