.btn:focus {
  box-shadow: none;
}

.btn-div {
  display: flex;
  justify-content: center;
  .list-footer & {
    display: none;
  }
}

.btn-round {
  border-radius: 50%;
  padding: 6px;
}

.btn-no-border {
  border-color: transparent;
}

.btn-opaque-hover {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.btn-light-hover:hover {
  @extend .btn-light;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  svg {
    margin: 2px;
  }
}
