.list-card {
  margin: 15px;
  width: 289px;
  background-color: $background-color;
  &:hover {
    .list-select {
      @include transition-fade(true);
    }
    .list-footer {
      .btn-div {
        @include transition-fade(true);
      }
    }
  }
  &:not(:hover) {
    .list-select {
      @include transition-fade(false);
    }
    .list-footer {
      .btn-div {
        @include transition-fade(false);
      }
    }
  }
}

.list-header {
  background-color: $background-color;
}

.list-title {
  @extend .form-control;
  resize: none;
  border: none;
  font-weight: bold;
  font-size: large;
  text-align: center;
  box-shadow: none;

  &:focus {
    text-shadow: 1px 1px 2px lightGray;
    box-shadow: none;
  }
}

.list-select {
  @extend .btn;
  @extend .btn-round;
  display: flex;
  visibility: hidden;
  opacity: 0;
  background-color: $primary-color;
  position: absolute;
  left: -10px;
  top: -10px;
  svg {
    color: $background-color;
  }
}

.list-item {
  display: flex;
  place-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
}

.list-item-content {
  @extend .form-control;
  resize: none;
  &-completed {
    @extend .list-item-content;
    text-decoration-line: line-through;
  }
}

.list-completed-items-alert {
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}

.list-footer {
  background-color: $background-color;
  border-top: none;
  display: flex;
  place-content: center space-around;
  align-items: center;
  height: 40px;
  & .btn-div {
    visibility: hidden;
    opacity: 0;
  }
}

.list-date-created {
  display: flex;
  align-items: center;
}
