.dropdown-nav-link {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.dropdown-logout {
  color: red;
  font-weight: bold;
  &:hover {
    color: red;
  }
}

.dropdown-menu-left {
  right: 0;
  left: auto;
}
