$dark-theme: false;
$primary-color: #212529;
$background-color: #fff;

@mixin transition-fade($in) {
  @if $in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  } @else {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  }
}
